.chat__main__list{data: {message: {id: message.id}}}
  .chat__main__list__head
    .chat__main__list__head__name
      = message.user.name
    .chat__main__list__head__date
      = message.created_at.to_s(:datetime)
  .chat__main__list__message
    - if message.content.present?
      = message.content
  = image_tag message.image.url, class: '' if message.image.present?