.side
 .side__head
  .side__head__list
   .side__head__list__name
    masa
   .side__head__list__icon
    = link_to '#', class: "edit-none" do
     =icon('far', 'edit', class: "edit") 
    = link_to '#', class: "cog" do 
     =icon('fa', 'cog', class: "cog")
 
 .side__main
  .side__main__list
   .side__main__list__name
    techcamp
   .side__main__list__message
    まだメッセージがありません

  .side__main__list
   .side__main__list__name
    techcamp
   .side__main__list__message
    まだメッセージがありません

  .side__main__list
   .side__main__list__name
    techcamp
   .side__main__list__message
    まだメッセージがありません
