.side
 .side__head
  .side__head__list
   .side__head__list__name
    = current_user.name
   .side__head__list__icon
    = link_to '#', class: "edit-none" do
     =icon('far', 'edit', class: "side-edit") 
    = link_to edit_user_path(current_user.id), class: "cog" do
     =icon('fa', 'cog', class: "cog")

 .side__main
  .side__main__list
   .side__main__list__name
    techcamp
   .side__main__list__message
    まだメッセージがありません

  .side__main__list
   .side__main__list__name
    techcamp
   .side__main__list__message
    まだメッセージがありません

  .side__main__list
   .side__main__list__name
    techcamp
   .side__main__list__message
    まだメッセージがありません
